__pycache__
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
env/
ENV.bak/
.DS_Store
.idea/
.vscode/
.git
.gitignore
media/
staticfiles/
node_modules/
