asgiref==3.5.2
autopep8==2.0.0
cairocffi==1.4.0
cffi==1.15.1
crispy-bootstrap5==0.7
cryptography==38.0.4
Django==4.0
django-bootstrap-datepicker-plus==5.0.2
django-crispy-forms==1.14.0
django-debug-toolbar==3.7.0
django-extensions==3.2.1
django-filter==22.1
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
Markdown==3.4.1
mysqlclient==2.1.1
Pillow==9.3.0
pycha==0.8.1
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.2
pydot==1.4.2
pygraphviz @ file:///D:/SDP/p/proj/v2/assets/pygraphviz-1.9-cp310-cp310-win_amd64.whl
pyparsing==3.0.9
pytz==2022.6
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
typing_extensions==4.4.0
tzdata==2022.6
