{% extends 'member/base.html' %}
{{title}}

{% block content %}

{% block profile %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <div class="text-center">

                <img src="{{ files.picture.url }}" class="avatar rounded-circle img-thumbnail" alt="avatar">

            </div>
            <br>

            <ul class="list-group">
                <li class="list-group-item text-right bg-success"><span
                        class="pull-left"><strong>{{profile.user.username}}</strong></span>
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Camps</strong></span>
                    {{profile.camps.count}}
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Hikes</strong></span>
                    {{profile.hikes.count}}
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Projects</strong></span>
                    {{profile.projects.count}}
                </li>
            </ul>

        </div>

        <!--col-3-->
        <div class="col-sm-9">

            <nav class="mt-2">
                <div class="nav nav-fill nav-tabs" id="nav-tab" role="tablist">

                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#view-tab"
                        type="button" role="tab" aria-controls="nav-view" aria-selected="true">
                        View
                    </button>

                    <button class="nav-link" id="nav-update-tab" data-bs-toggle="tab" data-bs-target="#nav-update"
                        type="button" role="tab" aria-controls="nav-update" aria-selected="false">
                        Update
                    </button>

                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <!-- tab pane view -->
                <div class="tab-pane fade show active" id="view-tab" role="tabpanel" aria-labelledby="nav-view-tab">

                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Surname:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                readonly value="{{profile.surname}}">
                        </div>
                    </div>
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Initials:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.initials}}" readonly>
                        </div>
                    </div>
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">EN:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.entrance_number}}" readonly>
                        </div>
                    </div>
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.email}}" readonly>
                        </div>
                    </div>
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.address}}" readonly>
                        </div>
                    </div>
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Birthday:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.birthday}}" readonly>
                        </div>
                    </div>
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Father:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.father}}" readonly>
                        </div>
                    </div>

                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Contact:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.contact}}" readonly>
                        </div>
                    </div>
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Skills:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.skills}}" readonly>
                        </div>
                    </div>

                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label fw-bold">Sports:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label"
                                value="{{profile.sports}}" readonly>
                        </div>
                    </div>

                </div>


                <!-- tab pane edit -->
                <div class="tab-pane fade" id="nav-update" role="tabpanel" aria-labelledby="nav-update-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col pt-3">
                                <form class="from" action="" method="post" id="update_form"
                                    enctype="multipart/form-data">

                                    <div class="row">
                                        {% csrf_token %}
                                        <div id="div_id_email" class="mb-3">
                                            <label for="id_email" class="form-label">
                                                Email
                                            </label>
                                            <input type="email" name="email" maxlength="254"
                                                class="emailinput form-control" id="id_email">
                                        </div>
                                        <div id="div_id_skills" class="mb-3">
                                            <label for="id_skills" class="form-label">
                                                Skills
                                            </label>
                                            <input type="text" name="skills" maxlength="50"
                                                class="textinput textInput form-control" id="id_skills">
                                        </div>
                                        <div id="div_id_sports" class="mb-3">
                                            <label for="id_sports" class="form-label">
                                                Sports
                                            </label>
                                            <input type="text" name="sports" maxlength="50"
                                                class="textinput textInput form-control" id="id_sports">
                                        </div>

                                        <div id="div_id_contact" class="mb-3"> <label for="id_contact"
                                                class="form-label">
                                                Contact
                                            </label> <input type="text" name="contact" maxlength="100"
                                                class="textinput textInput form-control" id="id_contact">
                                        </div>
                                        <div id="div_id_address" class="mb-3"> <label for="id_address"
                                                class="form-label">
                                                Address
                                            </label> <input type="text" name="address" maxlength="100"
                                                class="textinput textInput form-control" id="id_address">
                                        </div>
                                        <div id="div_id_picture" class="mb-3">
                                            <label for="id_picture" class="form-label">
                                                Picture
                                            </label>
                                            <div>
                                                <input type="file" name="picture" class="form-control" accept="image/*"
                                                    id="id_picture">
                                            </div>
                                        </div>
                                        <div id="div_id_medical" class="mb-3">
                                            <label for="id_medical" class="form-label">
                                                Medical
                                            </label>
                                            <div> <input type="file" name="medical" class="form-control"
                                                    id="id_medical">
                                            </div>
                                        </div>
                                    </div>

                                    <input type="submit" value="Update" class="btn btn-primary">

                                </form>
                                <script>
                                    const updateForm = document.querySelector('#update_form');

                                    updateForm.addEventListener('submit', (event) => {
                                        event.preventDefault();

                                        const updateFormData = new FormData(updateForm);
                                        updateFormData.append('pro', '{{ profile.id }}');

                                        updateFormData.forEach((value, key) => {
                                            console.log(key + ': ' + value);
                                        });

                                        console.log(updateFormData);

                                        fetch("{% url 'update_profile' %}", {
                                            method: 'POST',
                                            body: updateFormData

                                        })
                                            .then((response) => response.json())
                                            .then((data) => {

                                                console.log(data);

                                                if (data.result == 'success') {
                                                    $('.modal-body').html('Form submission was successful!');
                                                    $('#modal-dialog').modal('show');
                                                    updateForm.reset();

                                                } else {
                                                    $('.modal-body').html('There was an error with the form submission.');
                                                    $('#modal-dialog').modal('show');
                                                }

                                            });
                                    });

                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!--/col-9-->
        </div>
        <!--/row-->
        <!-- close modal because I prevented default -->
        <script>
            $(document).ready(function () {
                $('#close-modal').on('click', function () {
                    $('#modal-dialog').modal('hide');
                });
            });
        </script>

        <!-- jason model dialog box -->
        <div class="modal" tabindex="-1" role="dialog" id="modal-dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Feedback</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Modal content goes here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-modal"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}


        {% endblock %}

        <!-- Bootstrap JS -->
        <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
        </body>

        </html>